body{
    background-color: #bfd4f7;
    margin: 0;
    width: 100%;
}
legend{
    font-size: 2em;
}
fieldset{
    width: 80%;
    margin: 0 auto;
    border-radius: 1em;
    text-align: center;
}
table,th,tr,td{
    border-color: #000000;
    border-width: 0.2em;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    width: auto;
    padding: 1em;
    background-color: #ffffff;
    font-size: 20pt;
}
header{
    padding: 5pt 2%;
    background-color: #0000009e;
    height: 34pt;
}
nav{
    width: 100%;
}
header a img{
    margin: 0;
    height: 29pt;
    width: 18%;
    float: left;
}
header a{
    text-decoration: none;
    color: #55ddffff;
    font-size: 25pt;
    margin: 0;
}
header li{
    list-style-type: none;
    display: inline;
}
ul.lado{
    margin: 0;
    padding: 0;
    float: right;
    height: auto;
    width: 18%;
}
#link-cadastro{
    margin-left: 0;
    margin-right: 0;
}
#link-login{
    margin-left: 12%;
    margin-right: 0;
}

section nav ul{
    margin: 41pt 1% 57pt 1%;
    padding: 18pt 1% 18pt 16%;
    border-radius: 22pt;
    background-color: #aed5da52;
    list-style-type: none;
}
section nav li{
    display: inline;
    margin: 0 9%;
}
section nav ul li a{
    font-size: 25pt;
    text-decoration: none;
    color: #0b95b7;
    line-height: 26pt;
    font-family: 'Dancing Script', cursive;
}
.conteudo{
    height: auto;
    width: 84%;
    background-color: #aed5da52;
    margin: 0 auto;
    border-radius: 22pt;
    padding: 8pt 1%
}
.cadastrar-input-margem{
    border-radius: 1em;
    text-align: center;
    width: 100%;
    margin: 10pt 0;
    height: 4vh;
}
.deslogar{
    margin: 0 auto !important;
}
.limpar-deslogar-bt-margem-tb{
    margin: 0 1%;
    padding: 0.3%;
    border-radius: 1em;
    text-align: center;
    width: 15%;
}
#margem-top{
    margin-top: 91pt;
}
.cadastrar-entrar-bt-margem-tb{
    margin: 8pt 0.5%;
    padding: 0.3%;
    border-radius: 1em;
    width: 10%;
}
fieldset div li{
    display: inline;
}
.bt-cadastrar-bt-limpar{
    margin-top: 10pt;
}
input[type="file" i] {
    padding: 1.3%;
    width: 23%;
}
.entradas-de-filtro{
    width: 49%;
    border-radius: 1em;
    height: 3.4vh;
}
/*desktop com monitores wide screen*/
@media screen and (max-width: 1200px){
    ul.lado{
        width: 21%;
    }
}
/*tablets no formato paisagem e alguns monitores mais antigos*/
@media screen and (max-width: 960px){
    ul.lado{
        width: 31%;
    }
}
/*tablets no formato retrato*/
@media screen and (max-width: 768px){
    ul.lado{
        width: 33%;
    }
    header a img{
        height: 29pt;
        width: 28%;
        float: left;
    }
    section nav li{
        margin: 0 6%;
    }
}
/*smartphone no paisagem*/
@media screen and (max-width: 480px){
    header a img{
        height: 29pt;
        width: 37%;
        float: left;
    }
	ul.lado{
        float: right;
        height: auto;
        width: 50%;
    }
    section nav li{
        margin: 0 4%;
    }
    section nav ul{
        padding: 0;

    }
}
@media screen and (max-width: 360px){
	header{
        padding: 5pt 2%;
        background-color: #0000009e;
        height: 136pt;
    }
	header a img{
        width: 60%;
        margin: 1pt 20%;
        
    }
    ul.lado{
        clear: both;
        float: none;
        margin: 0 auto;
        width: auto;
        margin-top: 48pt;
        margin-bottom: 10pt;
    }
    header li{
        text-align: center;
        display: block;
        margin: 10pt 1%;
    }
    #login{
        margin-left: 0;
    }
    section nav li{
        margin: 16pt 1%;
        display: block;
        text-align: center;
    }
}